<h3>Carrito de compras</h3>
<a routerLink="/envios">Costos de envío</a>
<div class="cart-item" *ngFor="let item of items">
    <span>{{item.nombre}}</span>
    <span>{{item.precio | currency}}</span>
</div>
<form [formGroup]="formularioEnvio" (ngSubmit)="onSubmit()">
    <div>
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" formControlName="nombre">
    </div>
    <div>
        <label for="direccion">Dirección</label>
        <input type="text" id="direccion" formControlName="direccion">
    </div>
    <button class="button" type="submit">Enviar</button>

</form>
